{% extends 'hod/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    HOD-Signup
{% endblock %}


{% block sec %}
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


        * {
            box-sizing: border-box;
        }

        .container {
            position: center;
            text-align: center;
        }

        .form {
            color: #000000 !important;
            width: fit-content;
            height: fit-content;
            padding: 5% 10%;
            background-color: rgb(230, 230, 230);
            border: rgb(255, 255, 255) 3px solid;
            border-radius: 0px 50px 0px 50px;
            box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
            -15px -15px 20px 5px rgba(255, 255, 255, 0.8),
            inset 5px 5px 20px 5px rgba(119, 119, 119, 0.3),
            inset -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
        }


        .top-text, .submit {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            outline: none;
            color: #000000 !important;
        }

        .top-text {
            font-size: 20px;
            color: #000000 !important;
        }

        input, select {
            font-size: 15px;
            color: #000000 !important;
            margin-top: 3px;
            margin-bottom: 10px;
            padding: 15px;
            background-color: rgb(233, 231, 231);
            width: 350px;
            border-radius: 30px;
            border: solid 3px rgb(255, 255, 255);
            box-shadow: inset 10px 10px 20px 0px rgba(119, 119, 119, 0.3),
            inset -10px -10px 20px 0px rgba(255, 255, 255, 0.8),
            15px 15px 20px 5px rgba(119, 119, 119, 0.3),
            -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
            text-align: left;
        }

        .submit {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            padding: 8px 15px;
            margin-top: 50px;
            background-color: rgb(233, 231, 231);
            transition: 0.5s;
            border: solid 3px rgba(255, 255, 255, 0);
            border-radius: 30px;
            color: rgb(0, 0, 0);
            text-shadow: 0 0 1px rgb(68, 68, 68);
        }

        .submit:hover {
            color: #000000 !important;
            border: solid 3px rgb(0, 0, 0);
            box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
            -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
        }

        #div_id_password1 ul li {
            display: none;
        }

        {#media screen#}
        @media screen and (max-width: 550px) {
            .container {
                margin-left: 3% !important;
                padding-left: 3% !important;
            }

            body {
                width: 100% !important;
            }

            .form {
                width: 95% !important;
                margin-left: 0;
                margin-right: 0;
            }

            #id_test_paper, .submit {
                width: 100%;
            }


        }

        /* For long screens */
        @media screen and (min-width: 1024px) {

        }


    </style>

    <div class="container" style="text-align: center; width: 1000px; height: fit-content; margin-left: 20%">
        <div class="container" STYLE="margin-left: 10%">
            <form method="post" enctype="multipart/form-data" class="form">
            <legend class="top-text"><b>Register New Department-Head</b></legend>
            {% csrf_token %}
            {{ form1|crispy }}
            {{ form2|crispy }}
            <input type="submit" class="submit" value="Submit">
        </form>
        </div>

    </div>


    <script>
        document.getElementById('id_deadline').setAttribute('type', 'datetime-local');
        document.getElementById('id_starting_time').setAttribute('type', 'datetime-local');
        document.getElementById('id_starting_time').setAttribute('type', 'datetime-local');
    </script>
{% endblock %}
